.header {
  background-color: white;
  color: #14232d;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 20px;

  position: relative;
}

/* BOTÃO HAMBÚRGUER */
.menu-toggle {
  font-size: 32px;
  background: none;
  border: none;
  color: #14232d;
  cursor: pointer;
  z-index: 1001;
}

/* MENU LATERAL */
.menu {
  position: fixed;

  top: 0;
  right: 0;

  width: 20vw;       /* 1/5 da tela */
  min-width: 250px;  /* evita ficar pequeno demais */

  height: 100vh;

  background: #1c2f3d;

  display: flex;
  flex-direction: column;

  padding: 100px 25px;
  gap: 20px;

  box-shadow: -5px 0 15px rgba(0,0,0,0.2);

  /* ESCONDIDO */
  transform: translateX(100%);

  transition: transform 0.4s ease;

  z-index: 1000;
}

/* LINKS */
.menu a {
  color: white;
  text-decoration: none;

  font-size: 20px;
  font-weight: 500;

  transition: 0.3s;
}

/* MENU ABERTO */
.menu.active {
  transform: translateX(0);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .menu {
    width: 70vw;
  }
}