.header {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding: 5px;
}

.logo {
  color: var(--color-primary);
  font-size: var(--fs-h3);
  font-weight: 700;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  list-style: none;
}

.actions {
  display: flex;
  gap: var(--space-xs);
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}