.favoritos-header{
    text-align: center;

    margin-bottom: 50px;
}

.favoritos-header h1{
    font-size: 2.5rem;

    color: white;

    margin-bottom: 10px;
}

.favoritos-header p{
    color: #667;
}

.favoritos-container{
    max-width: 1200px;

    margin: auto;

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

    gap: 30px;
}

.favorito-card{
    background: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.favorito-card img{
    width: 100%;
    height: 220px;

    object-fit: cover;
}

.favorito-info{
    padding: 25px;
}

.favorito-info h2{
    margin-bottom: 12px;

    color: #0c1f2d;
}

.favorito-info p{
    color: #555;

    line-height: 1.6;

    margin-bottom: 25px;
}

.favorito-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorito-footer strong{
    font-size: 1.2rem;

    color: #0c1f2d;
}

.favorito-actions{
    display: flex;
    align-items: center;

    gap: 15px;
}

.favorito-actions button{
    height: 42px;

    padding: 0 18px;

    border: none;

    border-radius: 10px;

    background: #0c1f2d;

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.favorito-actions i{
    font-size: 1.5rem;

    color: #ff3b5f;

    cursor: pointer;
}